{% extends "layout.html" %}

{% block title %}
    YaleTutors
{% endblock %}

{% block main %}
    <form action="/" method="get">
        <h1>Welcome to Match Your Major!</h1>

        <h3>Are you a Yale student? Would you like to find other students who are pursuing the same major as you? If you answered yes to both questions, create an account and start finding matches for your major!</h3>

        <img src="/static/crosscampus.png" alt="Cross Campus" width="840" height="600">
    </form>
{% endblock %}
