{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <h2 style="font-family:'verdana'">Sign in to your account</h2>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}