{% extends "layout.html" %}

{% block title %}
    Mission statement
{% endblock %}

{% block main %}
    <h1>The importance of professionalism</h1>
    <p>Our platform ensures that Yale students can always easily access other Yale students whom can help them choose their majors and give advice on many aspects of Yale life, both from an academic and social viewpoint.</p>
    <img class="statement1" align="center" src="/static/students1.jpg" alt="Yale Professionalism" width="560" height="350"><br /><br />

    <h1 class="statement1">Sense of community</h1>
    <p>We all know that one of the reasons for why Yale students prosper so much in this learning environment is due to the community that Yale has between its students, staff and alumni. No one is left behind or unanswered, just as everyone wants the best for everyone else. For these reasons, we believe that having a platform wherein students can find other students with similar passions, who are actually pursuing the same thing, will be very advantageous for the Yale community.</p>
    <img class="statement1" align="center" src="/static/students.jpg" alt="Yale Community" width="500" height="350">
{% endblock %}